

 <!-- <mat-card class="height-100"></mat-card>
 <mat-card-title>Locations</mat-card-title>
    <div class="map-container">
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </div> -->



      <mat-card class="height-100">
        <div class="row">
            <div class="col mt-0">
                <h5 class="card-title">Alarms</h5>
            </div>
            <div class="map-container">
              <div class="map-frame">
                <div id="map"></div>
              </div>
            </div>
        </div>


        </mat-card>