.height-100
{
  height:100%;
  margin-left: auto;
}


.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;

    padding-bottom: 30px;
    padding-top: 10px;
  }

  .map-frame {

    height: 100%;
    position: relative;
    top: 10%;
  }

  #map {
    height: 100%;
  }