<div class="row">
    <div class="col-12 col-md-6 col-xxl-6 d-flex">
        <div class = "full-width">
            <div class="row">
                <div class="col-sm-6">
                    <app-alarm></app-alarm>
                </div>
                <div class="col-sm-6">
                    <app-cloud-connector></app-cloud-connector>
                </div>
            </div>
            <div class="row set-padding">
                <div class="col-sm-6">
                    <app-devices></app-devices>
                </div>
                <div class="col-sm-6">
                    <app-schedule></app-schedule>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xxl-6 col-md-6 set-padding-location pull-left">
        <app-location></app-location>
    </div>
</div>
<div class ="row set-padding">
    <div class = "full-width">
    <div class ="col-12 col-md-12 col-lg-12 col-xl-12 col-xll-12">
        <app-device-list></app-device-list>
    </div>
</div>
</div>















