// ::ng-deep .mat-column-status
// {
//     background-color: green;
//     color: wheat!important;
// }

.badge-success
{
width: 50px;
color: #fff;
background-color: #28a745;
}
.mat-header-cell
{
color : black;
font-size: medium;

}