

  <div id="snmp" [formGroup]= "regForm">
    <div class ="container-fluid">
        <div class = "row">
            <div class ="col-12 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group " formGroupName="snmp">
                <label>Version</label>
                <div class="mt-2&quot;"></div>
                  <select  formControlName = "version" required>
                    <option select value="v1">V1</option>
                    <option value="v2c">V2c</option>
                    <option value="v2">V2</option>
                  </select>
                </div>
            </div>
        </div>
        <div class = "row">
            <h5>v1/v2c specific parameters</h5>
        </div>
        <div class = "mt-2 row">
            <div class ="col-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group" formGroupName="snmp">
                <label>Read Community String</label>
                <input type="text" class="form-control" formControlName="readString">
                </div>
            </div>
            <div class ="col-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group" formGroupName="snmp">
                    <label>Write Community String*</label>
                    <input type="text" class="form-control" formControlName="writeString">
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<button type="button" matStepperPrevious>Back</button>
&nbsp;
<button type="button" matStepperNext (click)="step2Submitted()">Next</button>


